.light-theme {
  --page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --header-background-color: var(--gray300);
  --highlight-color: #000000;
  --tipography-title: "Archivo", sans-serif;
  --character-top-image-src: url("../assets/images/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;
  --character-bottom-image-src: url("../assets/images/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;
  --background-lamp-image: url("../assets/images/lamps.webp");
  --footer-background-color: var(--gray);
}

.dark-theme {
  --page-background: linear-gradient(
    180deg,
    #050000 0%,
    #130404 65%,
    rgba(19, 1, 1, 0.75) 100%
  );
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;
  --tipography-title: "Rubik Glitch", sans-serif;
  --character-bottom-image-src: url("../assets/images/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);
  --character-top-image-src: url("../assets/images/inverted-world-monster.svg");
  --character-top-image-color: #000;
  --background-lamp-image: url("../assets/images/lamps-inverted.webp");
  --footer-background-color: var(--black);
}

.dark-theme button,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  letter-spacing: 5px;
  font-weight: normal;
}

.dark-theme .invert {
  transform: rotateZ(180deg) scaleX(-1);
}

