:root {
	--red: #cf0f0f;
	--gray: #b5bbbf;
	--gray300: #e3e3e3;
	--white: #ffffff;
	--black: #000000;

	--tipography-archivo: "Archivo", sans-serif;
	--tipography-rubik: "Rubik Glitch", sans-serif;
	--tipography-content: "Lato", sans-serif;

	--text-5xl: 3rem;
	--lineheight-5xl: 1;

	--text-4xl: 2.25rem;
	--lineheight-4xl: 2.5rem;

	--text-3xl: 1.875rem;
	--lineheight-3xl: 2.25rem;

	--text-2xl: 1.5rem;
	--lineheight-2xl: 2rem;

	--text-xl: 1.25rem;
	--lineheight-xl: 1.75rem;

	--text-lg: 1.125rem;
	--lineheight-lg: 1.75rem;

	--text-md: 1rem;
	--lineheight-md: 1.5rem;

	--text-sm: 0.875rem;
	--lineheight-sm: 1.25rem;

	--text-xs: 0.75rem;
	--lineheight-xs: 1rem;
}