.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  position: relative;
  overflow: hidden;

  background-color: var(--footer-background-color);
  padding: 3.75rem 0;
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer div p {
  text-align: center;
}

.footer div p a {
  text-decoration: none;
  font-weight: bolder;
  color: inherit;
}

.footer img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.footer::before,
.footer::after {
  content: "";
  min-width: 250px;
  height: 150px;
  background: url("../../assets/images/tape.svg") no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -30px;
  z-index: 9999;
}

.footer::before {
  transform: rotateZ(-10deg);
  left: -170px;
}

.footer::after {
  transform: rotateZ(10deg);
  right: -200px;
}

@media (min-width: 768px) {
  .footer::before {
    transform: rotateZ(-10deg);
    left: -100px;
  }

  .footer::after {
    transform: rotateZ(10deg);
    right: -130px;
  }
}

@media (min-width: 1024px) {
  .footer::before {
    transform: rotateZ(-10deg);
    left: -30px;
  }

  .footer::after {
    transform: rotateZ(10deg);
    right: -50px;
  }
}
